<div id="sidepanel">
    <div id="profile">
        <div class="wrap">
            <img id="profile-img"
                src="https://i.imgur.com/LachGXE.png"
                class="online" alt="لوگوی چت" />
            <p>سامانه گفتگوی آنلاین</p>
            <div class="status-indicator online"></div>
            <div id="status-options">
                <ul id="namespaces" class="namespaces-list"></ul>
            </div>
        </div>
    </div>
    <div id="search">
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="جستجوی مخاطبین..." />
        </div>
    </div>
    <div id="contacts">
        <div class="room-header">
            <h4><i class="fa-solid fa-message"></i> مخاطبین</h4>
        </div>
        <ul></ul>
    </div>
    <div id="bottom-bar">
        <button><i class="fa-solid fa-user-plus"></i> <span>افزودن مخاطب</span></button>
        <button><i class="fa-solid fa-gear"></i> <span>تنظیمات</span></button>
    </div>
</div>