<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>چت آنلاین</title>
</head>
<body>
    <div class="chat-container">
        <div id="frame">
            <%-include("./layouts/sidepanel.ejs")%>
            <%-include("./layouts/content.ejs")%>
        </div>
    </div>
</body>
</html>
